<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>mail</title>
    <link rel="stylesheet" href="https://npm.elemecdn.com/lxgw-wenkai-webfont@1.1.0/lxgwwenkai-regular.css" />
    <style>
        body,
        td {
            font-family: LXGW WenKai;
        }
    </style>
</head>

<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0"
      style="margin: 0pt auto; padding: 0px; background:#F4F7FA;">
<table id="main" width="100%" height="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#F4F7FA">
    <tbody>
    <tr>
        <td valign="top">
            <table class="innermain" cellpadding="0" width="580" cellspacing="0" border="0" bgcolor="#F4F7FA"
                   align="center" style="margin:0 auto; table-layout: fixed;">
                <tbody>
                <!-- START of MAIL Content -->
                <tr>
                    <td colspan="4">
                        <!-- Logo start here -->
                        <table class="logo" width="100%" cellpadding="0" cellspacing="0" border="0">
                            <tbody>
                            <tr>
                                <td colspan="2" height="30"></td>
                            </tr>
                            </tbody>
                        </table>
                        <!-- Logo end here -->
                        <!-- Main CONTENT -->
                        <table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff"
                               style="border-radius: 4px; box-shadow: 0 2px 8px rgba(0,0,0,0.05);">
                            <tbody>
                            <tr>
                                <td height="20"></td>
                            </tr>
                            <tr
                                    style="font-family: -apple-system,BlinkMacSystemFont,'Segoe UI','Roboto','Oxygen','Ubuntu','Cantarell','Fira Sans','Droid Sans','Helvetica Neue',sans-serif; color:#4E5C6E; font-size:14px; line-height:20px; margin-top:20px;">
                                <td class="content" colspan="2" valign="top" align="center"
                                    style="padding-left:90px; padding-right:90px;">
                                    <table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff">
                                        <tbody>
                                        <tr>
                                            <td align="center" valign="bottom" colspan="2" cellpadding="3">
                                                <img alt="Frium" width="80" src="https://blog.frium.top/upload/email.png" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td height="20" &nbsp;=""></td>
                                        </tr>
                                        <tr>
                                            <td align="center"> <span style="color:#48545d;font-size:22px;line-height: 24px;">
                                    CollabAI 会议助手
                                  </span>

                                            </td>
                                        </tr>
                                        <tr>
                                            <td height="15" &nbsp;=""></td>
                                        </tr>
                                        <tr>
                                            <td height="1" bgcolor="#DAE1E9"></td>
                                        </tr>
                                        <tr>
                                            <td height="15" &nbsp;=""></td>
                                        </tr>
                                        <tr>
                                            <td align="center"> <span style="color:#48545d;font-size:14px;line-height:24px;">
                                    该邮箱验证码用于身份注册或修改密码,15分钟内有效
                                  </span>

                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center"> <span style="color:#48545d;font-size:14px;line-height:24px;">
                                    记住不要告诉别人哦!
                                  </span>

                                            </td>
                                        </tr>
                                        <tr>
                                            <td height="15" &nbsp;=""></td>
                                        </tr>
                                        <tr>
                                            <td valign="top" width="48%" align="center"> <span>
                                    <span
                                            style="display:block; padding:15px 25px; background-color:#0087D1; color:#ffffff;
                                            border-radius:10px; text-decoration:none; font-size:25px;"
                                            th:text="${verificationCode}"></span>
                                  </span>

                                            </td>
                                        </tr>

                                        <tr>
                                            <td align="center">
                                                <img src="https://blog.frium.top/upload/hr.png" width="54" height="2" border="0">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td height="10" &nbsp;=""></td>
                                        </tr>
                                        <tr>
                                            <td align="center">
                                                <p style="color:#a2a2a2; font-size:12px; line-height:17px; font-style:italic;">
                                                    如果您没有发送,您可以忽略此邮件,该邮件将被删除</p>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td height="30"></td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
</body>

</html>
