<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.longfish.collabai.mapper.MeetingMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.longfish.collabai.pojo.entity.Meeting">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="holder_id" property="holderId" />
        <result column="holder_name" property="holderName" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="md_content" property="mdContent" />
        <result column="ai_summary" property="aiSummary" />
        <result column="cover_img" property="coverImg" />
        <result column="create_time" property="createTime" />
    </resultMap>

</mapper>
